postgres_db=hippo_ai
postgres_user=hippo
postgres_password=change_me
postgres_port=5432

redis_port=6379

jwt_secret_key=change_this_to_a_long_random_secret
jwt_algorithm=HS256
access_token_expire_minutes=60

api_port=8000
app_env=development

# HippoAI
HIPPO_API_URL=https://api.hipposideros-cloud.de
HIPPO_API_KEY=35088573a89c139f74d0e6b0a90521a4fad1445e9c347ba277452a67d285ff66
HIPPO_MODEL=hippo-ai
WHISPER_API_URL=
WHISPER_API_KEY=
HIPPO_EMBEDDING_URL=